/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-content {
  max-width: 1000px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
